{% extends "base.html" %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
{% endblock %}

{% block title %}Budget Calculator{% endblock %}

{% block content %}

    <div class="budget-div">

        <div class="text-content-top">
            <h3><b>April 2025</b></h3>
            <button class="add-expense-btn">+ Add Expense</button>
        </div>

        <div class="budget-table">
            <div class="category housing">
                <h4>Housing</h4>
                <table>
                  <tr><td>Rent</td><td>$726.99</td></tr>
                  <tr><th>Total</th><th>$726.99</th></tr>
                  <tr><td>Percent</td><td>59.66%</td></tr>
                </table>
            </div>

            <div class="category drinks">
                <h4>Drinks</h4>
                <table>
                  <tr><td>Drinks</td><td>$0</td></tr>
                  <tr><th>Total</th><th>$0</th></tr>
                  <tr><td>Percent</td><td>0%</td></tr>
                </table>
            </div>

            <div class="category clothing">
                <h4>Clothing</h4>
                <table>
                  <tr><td>Clothing</td><td>$0</td></tr>
                  <tr><th>Total</th><th>$0</th></tr>
                  <tr><td>Percent</td><td>0%</td></tr>
                </table>
            </div>

            <div class="category subscriptions">
                <h4>Subscriptions</h4>
                <table>
                  <tr><td>Subscriptions</td><td>$0</td></tr>
                  <tr><th>Total</th><th>$0</th></tr>
                  <tr><td>Percent</td><td>0%</td></tr>
                </table>
            </div>

            <div class="category food">
                <h4>Food</h4>
                <table>
                  <tr><td>Groceries</td><td>$208.61</td></tr>
                  <tr><td>Out</td><td>$52.53</td></tr>
                  <tr><th>Total</th><th>$261.14</th></tr>
                  <tr><td>Percent</td><td>21.43%</td></tr>
                </table>
            </div>

            <div class="category laundry">
                <h4>Laundry</h4>
                <table>
                  <tr><td>Laundry</td><td>$0</td></tr>
                  <tr><th>Total</th><th>$0</th></tr>
                  <tr><td>Percent</td><td>0%</td></tr>
                </table>
            </div>

            <div class="category transportation">
                <h4>Transportation</h4>
                <table>
                  <tr><td>Insurance</td><td>$208.61</td></tr>
                  <tr><td>Gas</td><td>$52.53</td></tr>
                  <tr><td>Public</td><td>$261.14</td></tr>
                  <tr><th>Total</th><th>$261.14</th></tr>
                  <tr><td>Percent</td><td>21.43%</td></tr>
                </table>
            </div>

            <div class="category other">
                <h4>Other</h4>
                <table>
                  <tr><td>Other</td><td>$208.61</td></tr>
                  <tr><th>Total</th><th>$261.14</th></tr>
                  <tr><td>Percent</td><td>21.43%</td></tr>
                </table>
            </div>

        </div>

        <div class="text-content-bottom">
            <h3><b>Expenses (without housing): </b></h3>
            <h3><b>Savings: </b></h3>
        </div>

    </div>

    <div class="expenses-div">
        <div class="expenses-table">
            <div class="expense-category income">
                <h4>Income</h4>
                <div class="two-column-table">
                    <table>
                        <tbody>
                            <tr><td>January</td><td>$726.99</td></tr>
                            <tr><td>February</td><td>$726.99</td></tr>
                            <tr><td>March</td><td>$726.99</td></tr>
                            <tr><td>April</td><td>$726.99</td></tr>
                            <tr><td>May</td><td>$726.99</td></tr>
                            <tr><td>June</td><td>$726.99</td></tr>
                            <tr><td>July</td><td>$726.99</td></tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody> 
                            <tr><td>August</td><td>$726.99</td></tr>
                            <tr><td>September</td><td>$726.99</td></tr>
                            <tr><td>October</td><td>$726.99</td></tr>
                            <tr><td>November</td><td>$726.99</td></tr>
                            <tr><td>December</td><td>$726.99</td></tr>
                            <tr><th>Total</th><th>$726.99</th></tr>
                            <tr><th>Average</th><th>$726.99</th></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="expense-category expenses">
                <h4>Expenses</h4>
                <div class="two-column-table">
                    <table>
                        <tbody>
                            <tr><td>January</td><td>$726.99</td></tr>
                            <tr><td>February</td><td>$726.99</td></tr>
                            <tr><td>March</td><td>$726.99</td></tr>
                            <tr><td>April</td><td>$726.99</td></tr>
                            <tr><td>May</td><td>$726.99</td></tr>
                            <tr><td>June</td><td>$726.99</td></tr>
                            <tr><td>July</td><td>$726.99</td></tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody> 
                            <tr><td>August</td><td>$726.99</td></tr>
                            <tr><td>September</td><td>$726.99</td></tr>
                            <tr><td>October</td><td>$726.99</td></tr>
                            <tr><td>November</td><td>$726.99</td></tr>
                            <tr><td>December</td><td>$726.99</td></tr>
                            <tr><th>Total</th><th>$726.99</th></tr>
                            <tr><th>Average</th><th>$726.99</th></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="budget-oat">
    <img src="{{ url_for('static', filename='images/happy.png') }}" id="budget-oat-image" class="oat-budget-specs" alt="investment Oat Explanation">
        <div class="text-content">
            <h3><b>Frugal Oat's Friendly Advice:</b> A dollar saved is a dollar earned! </h3>
            <br/>
            <p>	Of course money does not buy happiness... it buys tennis balls, which buys happiness!! :) </p>
            <p>
                Now, although happiness and enjoying life is really important, you also need to remember to save!
                You're just one deflated tennis ball or punctured vape toy away from a disaster... trust me, I learned the hard way.
                You also never know when the insurance on your porsche might go up because your dog jumped between the pedals to chase a ball causing you to crash...
            </p>
            <p>
                So, the most important thing you can do is to save a part of your child support checks for rainy days! You'll thank yourself so much for it!
            </p>
            <p class="ps">
            *Just kidding, ignore all of this advice. There are literally no rainy days in Santa Barbara ever... go splurge on that lemon-lime vape flavor!
        </p>
        </div>
    </div>

{% endblock %}