{% extends "base.html" %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Net Worth Dashboard{% endblock %}

{% block content %}

<!--     <div class="net-worth-container">
        <div class="net-worth-details">
            <h3>Net Worth: $</h3>
            <br/>
            <p>- % D/D</p>
            <p>- % W/W</p>
            <p>- % M/M</p>
            <p>- % Y/Y</p>
            <p>- % All-Time</p>
        </div>

        <div class="net-worth-chart-section">
            <canvas id="moneyChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="{{ url_for('static', filename='js/net_worth_chart.js') }}"></script>
        </div>
    </div> -->

    <div class="net_worth-oat">
        <img src="{{ url_for('static', filename='images/grass_oat.jpg') }}" id="net-worth-oat-image" class="oat-net-worth-specs" alt="Net Worth Oat">
        <div class="text-content">
            <h3><b>Billionaire Oat's Friendly Advice:</b> Use the tools on this site, and you can be just like me!</h3>
            <br/>
            <p>Hello my name is Oatie and I'll be your financial guide!  </p>
            <p>Have you ever dreamed of owning a mansion that's shaped like a giant tennis ball? Well, if you're like me and you have, then you've come to the right place! With the tools on this site you'll learn how to budget and invest and get that mansion in no time! </p>
            <p>Pro tip: confused on how a tool works? Scroll down on the page for my friendly advice!</p>
        </div>
    </div>
{% endblock %}